.gcloudignore
.git/
.github/
.vscode/
.idea/
venv/
.venv/
env/
__pycache__/
*.py[cod]
*.env
src/.env
data/finance.db
data/raw_pdfs/
data/raw_txts/
data/cleaned/parsed.jsonl
data/cleaned/cleaned.jsonl
Tasks/
